/**
 * @name nicknames and more but fully local
 * @author topb#4024
 * @version 0.3.2
 * @description ну... вот.
 */

/* animation */
@keyframes animation {
	from {
		background: #fff; 
		-webkit-background-clip: text; 
		-webkit-text-fill-color: transparent;}
	to {
		background: #000; 
		-webkit-background-clip: text; 
		-webkit-text-fill-color: transparent;}
}

@keyframes glow {
  0%{
    text-shadow: 0 0 3px #fff, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
  }
  33%{
    text-shadow: 0 0 3px #fff, 0 0 4px #C724B1, 0 0 5px #C724B1, 0 0 6px #C724B1, 0 0 7px #C724B1, 0 0 8px #C724B1;
  }
  66%{
    text-shadow: 0 0 3px #fff, 0 0 4px #1F51FF, 0 0 5px #1F51FF, 0 0 6px #1F51FF, 0 0 7px #1F51FF, 0 0 8px #1F51FF;
  }
  100%{
    text-shadow: 0 0 3px #fff, 0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6, 0 0 8px #ff4da6;
  }
}

/* tag base */
.contents-2mQqc9>img~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {
	content: none;
	color: currentcolor;
	text-shadow: 0 0 2px currentcolor;
	border: 1px solid;
	border-radius: 6px;
	margin-left: 5px;	
	background-color: rgba(255, 255, 255, 0.07);
	font-size: 10px;
	padding: 0 5px
}


/*.topb.*/
.contents-2mQqc9>img[src*="249471278778417152"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {      
	content: ".dot.squad.";
	color: #fff;
} 
.contents-2mQqc9>img[src*="249471278778417152"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy.clickable-1bVtEA{      
	background: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-name: animation;
   	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/*.b.g.w.d.*/
.contents-2mQqc9>img[src*="373888981282062338"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {      
	content: ".dot.squad.";
	color: #fff;
} 
.contents-2mQqc9>img[src*="373888981282062338"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy.clickable-1bVtEA {
	background: url(https://media.giphy.com/media/13mwsrXEUtSyZi/giphy.gif);
	background-position: 10% 60%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/*.sweetkarmell.*/
.contents-2mQqc9>img[src*="535460977777311765"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {
	content: ".dot.squad.";
	color: #fff;
}
.contents-2mQqc9>img[src*="535460977777311765"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy.clickable-1bVtEA {
	animation: glow 3s alternate infinite;
}

/*krukrai*/
.contents-2mQqc9>img[src*="595636098840133659"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {
	content: "Ебалай";
	color: #fff;
}

