/*.topb.*/
.contents-2mQqc9>img[src*="249471278778417152"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {      
	content: ".dot.squad.";
	color: #fff;
} 
.contents-2mQqc9>img[src*="249471278778417152"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy.clickable-1bVtEA {      
	background: linear-gradient(to right, #000000 0%, #FFFFFF 40%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*.b.g.w.d.*/
.contents-2mQqc9>img[src*="373888981282062338"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {
	content: ".dot.squad.";
	color: #fff
}   
/*.sweetkarmell.*/
.contents-2mQqc9>img[src*="535460977777311765"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {
	content: ".dot.squad.";
	color: #fff
}
/*krukrai*/
.contents-2mQqc9>img[src*="595636098840133659"]~.header-23xsNx>.headerText-3Uvj1Y>.username-1A8OIy::after {
	content: "Ебалай";
	color: #fff
}